@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


.home {    
    margin: 30px auto 30px auto;
}

.home a{
    font-family: Poppins;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .4em;
    margin-top: 0px;
    text-decoration: none;
    color: #342E37;
}

.home a:hover{
    color: #FAFFFD;
}

.logo {
    width: 70px;
    margin-bottom: 8px;
}

.p_title{
    margin: 30px auto 40px auto;
}

.project {
    font-family: Poppins;
    font-weight: 700;
    font-size:2em;
    letter-spacing: .4em;
    color: #FA824C;
}
    
.container {
    background-color: #3C91E6;
    height: 800px;
}



.canvas {
    width:250px;
    height:370px;
    background-color: #342E37;
    padding: 15px 0px
  
}


.ele1 {
    height:160px;
    background-color: #FAFFFD;
    margin: 0px 10px 0px;

    
}

.ele2 {
    height: 70px;
    background-color: #FA824C;
    margin: 8px 10px 0px;
    
}

.ele3 {
    height: 120px;
    background-color: #A2D729;
    margin: 12px 10px 0px;

}
